<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호찾기</title>
</head>
<body>

            <a href="/">홈으로</a>
            <h3>비번찾기페이지임</h3>
            <form>
              회원아이디 :<input type="text" class="memail"> </br>
              전화번호 :<input type="text" class="mphone"> </br>

              <button onclick="findpassword()" type="button">비밀번호찾기</button>
            </form>
            <div class="findpasswordy"></div>


            <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
            <script src="/js/member.js" type="text/javascript"></script>

</body>
</html>