<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디찾기</title>
</head>
<body>

            <a href="/">홈으로</a>
            <h3>아이디찾기페이지입니다</h3>
            <form>
              전화번호 :<input type="text" class="mphone"> </br>
              회원이름 :<input type="text" class="mname"> </br>
              <button onclick="findId()" type="button">아이디찾기</button>
            </form>

            <div class="find"></div>


            <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
            <script src="/js/member.js" type="text/javascript"></script>

</body>
</html>