<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원수정</title>
</head>
<body>

            <a href="/">홈으로</a>
            <h3>회원수정홈페이지입니다</h3> <!--로그인되어있는 경우만 탈퇴, 비번 재입력받아서 일치하면 탈퇴-->
            <form>
                회원이름 :<input type="text" class="mname"> </br>
                전화번호:<input type="text" class="mphone"> </br>
              <button onclick="update()" type="button">회원수정하기</button>
            </form>



            <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
            <script src="/js/member.js" type="text/javascript"></script>

</body>
</html>