<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <div>
        <a href="/">홈으로</a>
        <h3>회원가입페이지</h3>
        <form>
            아이디[이메일] : <input type="text" class="memail"></br>
            비밀번호 :<input type="text" class="mpassword"> </br>
            회원이름 :<input type="text" class="mname"> </br>
            전화번호 :<input type="text" class="mphone"> </br>
            <button onclick="onSignup()" type="button">가입</button>
        </form>
      </div>


      <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
      <script src="/js/member.js" type="text/javascript"></script>

</body>
</html>