<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <div style="background-color:pink; color:white">
            <h3>[리엑트 전용 전까지만]헤더부분입니다</h3>
            <div class="infobox" style="border 2px solid red"></div>
            <a href="/">홈으로</a>
            <a href="/member/signup">회원가입</a>
            <a href="/member/login">로그인</a>
            <a href="/member/findId">아디이찾기</a>
            <a href="#">비밀번호찾기</a>
            <a href="#">회원탈퇴</a>
            <a href="#">회원수정</a>
        </div>


        <div>
            <h3>[리엑트 전용 전까지만] 본문 부분입니다</h3>
        </div>

        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script src="/js/member.js" type="text/javascript"></script>

</body>
</html>