<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <div style="background-color:pink; color:white">
            <h3>[리엑트 전용 전까지만]헤더부분입니다</h3>
            <div class="infobox" style="border 2px solid red"></div>
            <a href="/">홈으로</a>
            <a href="/member/signup">회원가입</a>
            <a href="/member/login">로그인</a>
            <a href="/member/findid">아이디찾기</a> <!--이름,전화번호 일치할경우 아이디 알려주기[일반회원]-->
            <a href="/member/findpassword">비밀번호찾기</a> <!--아이디와 전화번호 일치 할 경우 임시비번6자리 변경후 알려주기-->
            <a href="/member/byeuser">회원탈퇴</a><!--로그인 되어있는경우 만 가능 비밀번호 재입력받아 일치할경우 탛퇴 -->
            <a href="#">회원수정</a> <!--이름 전화번호 변경(일반회원) -->
        </div>


        <div>
            <h3>[리엑트 전용 전까지만] 본문 부분입니다</h3>
        </div>

        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script src="/js/member.js" type="text/javascript"></script>

</body>
</html>