<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>아이템</h3>

    <div>
     제품명:   <input type="text" class="productname">
    </div>
    <div>
     제품설명:   <input type="text" class="productcontent">
    </div>
    <div>
       <button onclick="regi()" type="button">등록</button>
    </div>

    <table class="itemtable">

    </table>

    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/js/item.js" type="text/javascript"></script>

</body>
</html>